body {
    background-color: white;
}
#brand-image {
    height: 40px;
    padding-right: 10px;
}
.home_text {
    text-align: center;
}
#recipe_book{
    text-align: center;
}
#recipe-header{
    background-color: rgba(8, 150, 0, 0.48);
    width:50%;
    margin: 0 auto;
    border-radius:8px;
    vertical-align: middle;
    height: 600px;
}
#recipe-header h2{
    margin-left: 12px;
    vertical-align: middle;
}
#recipe-header h5{
    margin-left: 12px;
    vertical-align: middle;
}

.jumbotron {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    margin:-10px;
}

.containerJumbotron {
    align-content: center;
}